<div class="entry">
    <div class="entry-left">
        <div class="entry-manchu">{{convertRomanisation(entry.Romanisations.Moellendorff)}}</div>
    </div>
    <div class="entry-right">
        <div class="entry-romanisation-moellendorff">{{entry.Romanisations.Moellendorff}}</div>
        <div class="entry-partofspeech"><span class="tag-{{entry.PartOfSpeech}}">{{entry.PartOfSpeech}}</span></div>
        <div class="entry-interpretations">
            <div class="entry-interpretations-interpretation" ng-repeat="interpretation in entry.Interpretations">
                {{$index + 1}}. {{interpretation.Text}}
            </div>
        </div>
        <div class="entry-inflexions" ng-show="inflexions.length > 0">
            <h3>Inflexions</h3>
            <table class="entry-inflexions-table">
                <tbody>
                    <tr ng-repeat="inflexion in inflexions">
                        <td class="inflexion-type">{{inflexion.Type}}</td>
                        <td class="inflexion-manchu">{{convertRomanisation(inflexion.Romanisations.Moellendorff)}}</td>
                        <td class="inflexion-romanisation-moellendorff">{{inflexion.Romanisations.Moellendorff}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="entry-references" ng-show="references.length > 0">
            <h3>References</h3>
            <ol>
                <li ng-repeat="reference in references"><span class="reference-title">{{reference.Title}}</span>, <span class="reference-author">{{reference.Author}}</span> (<span class="reference-dateofpublication">{{reference.PublicationDate}}</span>)</li>
            </ol>
        </div>
    </div>
</div>