<p>This Online Manchu Dictionary is a small web-app that contains a dictionary of the Manchu language. The Manchu language is an almost extinct language in the world today, with only a few tens of first-language speakers of it left. This web-app is being developed gradually over time, so more data will appear. At the moment, it has {{$scope.entries.length}} entries.</p>
<p>You can see the source code for this project on GitHub: <a href="https://github.com/BenjaminTMilnes/ManchuDictionary" target="_blank">https://github.com/BenjaminTMilnes/ManchuDictionary</a>. This project has been created by <a href="http://www.benjamintmilnes.com">B. T. Milnes</a></p>
<p>Typing Manchu text can be difficult. Try using <a href="#/write">this tool</a>, which will take romanised Manchu, and output Manchu script.</p>
<div class="search">
    <div class="search-textbox">
        <input type="text" ng-model="searchTerms" placeholder="" />
    </div>
    <div class="search-results-pagenumbers">
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber - 1)">&larr;</div>
        <div class="pagenumber {{page.class}}" ng-repeat="page in pages" ng-click="setPageNumber(page.pageNumber)">{{(page.pageNumber == -1) ? "..." : page.pageNumber}}</div>
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber + 1)">&rarr;</div>
    </div>
    <div class="search-results">
        <div class="search-results-leftcolumn">
            <div ng-repeat="entry in currentPageSearchResults" class="search-results-entry">
                <div class="search-results-entry-left">
                    <div class="entry-manchu">{{convertRomanisation(entry.Romanisations.Moellendorff)}}</div>
                </div>
                <div class="search-results-entry-right">
                    <div class="entry-romanisation">{{entry.Romanisations.Moellendorff}}</div>
                    <div ng-repeat="interpretation in entry.Interpretations" class="entry-interpretation">
                 {{$index + 1}}. <span class="entry-partofspeech">[{{getPartOfSpeechAbbreviation(entry.PartOfSpeech)}}]</span> {{interpretation.Text}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-results-rightcolumn">

        </div>
    </div>
    <div class="search-results-pagenumbers">
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber - 1)">&larr;</div>
        <div class="pagenumber {{page.class}}" ng-repeat="page in pages" ng-click="setPageNumber(page.pageNumber)">{{(page.pageNumber == -1) ? "..." : page.pageNumber}}</div>
        <div class="pagenumber pagenumber-unselected" ng-click="setPageNumber(pageNumber + 1)">&rarr;</div>
    </div>
</div>