
.search {
    margin: 0px 0px 200px 0px;
}

.search-textbox {
    margin-bottom: 10px;
}

    .search-textbox input {
        width: 100%;
        box-sizing: border-box;
        padding: 9px 14px;
        font-size: 14px;
        border: 1px solid #D0D0D0;
        border-radius: 2px;
        outline: none;
    }

        .search-textbox input:focus {
            border: 1px solid #105ecc;
            outline: none;
        }

@media (min-width:400px) {

    .search-textbox input {
        padding: 10px 17px;
        font-size: 17px;
    }
}

.search-results, .search-results-leftcolumn, .search-results-rightcolumn {
    display: block;
    margin: 0px;
    padding: 0px;
    border: none;
}

@media (min-width:700px) {
    .search-results {
        display: flex;
        flex-direction: row;
    }

    .search-results-leftcolumn {
        flex-basis: 66%;
        padding-right: 40px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .search-results-rightcolumn {
        padding-left: 40px;
        flex-basis: 33%;
    }
}

.search-results-entry {
    min-height:100px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    padding: 20px 0px;
    display:flex;
    flex-direction: row;
    cursor: pointer;
}

.search-results-entry:hover {   
    color: #105ecc;
}

.search-results-entry-left {
    padding: 0px 30px 0px 0px;
}

.search-results-entry-right {}

.search-results-entry-manchu {
    writing-mode: vertical-lr;
    font-size: 3em;
}

.search-results-entry-romanisation {
 font-style: italic;
 font-size: 2em;
}

.search-results-entry-interpretation {
    font-size: 1.25em;
}

.search-results-entry-partofspeech{
    margin: 1em 0em;
}

.tag-noun, .tag-pronoun, .tag-verb, .tag-adjective, .tag-adverb {
    background-color: hsl(0, 0%, 90%);
    border-radius: 2px;
    padding: 0.1em 0.5em;
    color: white;
    font-weight: normal;
    font-size: 14px;
    user-select: none;
}

.tag-noun {
    background-color: hsl(220, 70%, 60%);
}

.tag-pronoun {
    background-color: hsl(200, 70%, 60%);
}

.tag-verb {
    background-color: hsl(330, 70%, 60%);
}

.tag-adjective {
    background-color: hsl(110, 70%, 50%);
}

.tag-adverb {
    background-color: hsl(140, 70%, 50%);
}

.search-results-pagenumbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0px 0px 40px 0px;
}

.pagenumber {
    margin: 0px 7px 7px 0px;
    border-radius: 2px;
    user-select: none;
}

.pagenumber-unselected, .pagenumber-selected {
    padding: 12px 17px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
}

    .pagenumber-unselected:hover {
        background-color: #f4f4f4;
        color: #105ecc;
    }

.pagenumber-selected {
    background-color: #f0f0f0;
}

.pagenumber-ellipses {
    padding: 12px 7px;
    cursor: default;
}