:root {
    --physics-blue: #105ecc;
    --physics-blue-light: #2f7ae2;
    --border-radius: 2px;
    --border-grey: #D0D0D0;
    --font-dark-grey: #202020;
}

body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    color: var(--font-dark-grey);
    overflow-wrap: break-word;
}

.mainpage {
    padding: 20px;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

@media (min-width:400px) {
    .mainpage {
        padding: 40px;
    }
}

@media (min-width:700px) {
    .mainpage {
        padding: 70px;
        overflow-wrap: normal;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, div, input {
    font-family: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 17px;
    text-transform: uppercase;
    margin: 17px 0px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: left;
    margin: 1em 0em;
}

h3 {
    font-size: 17px;
    text-align: left;
    margin: 1em 0em;
}

p {
    font-size: 14px;
    margin: 17px 0px;
    text-align: left;
}

hr {
    border: 0px;
    height: 1px;
    background-color: var(--border-grey);
    margin: 20px 0px;
}

@media (min-width:400px) {
    h1 {
        font-size: 22px;
        margin: 0px 0px 22px 0px;
        text-align: left;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 17px;
        margin: 22px 0px;
        text-align: justify;
    }

    hr {
        margin: 40px 0px;
    }
}

@media (min-width:700px) {
    hr {
        margin: 70px 0px;
    }
}

strong {
    font-weight: normal;
}

a {
    color: var(--physics-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.copybutton {
    font-size: 17px;
    padding: 7px 17px;
    margin: 2px 2px 2px 0px;
    border-radius: var(--border-radius);
    color: #ffffff;
    font-weight: normal;
    background-color: var(--physics-blue);
    border: none;
    cursor: pointer;
}

.copybutton:hover {
    background-color: var(--physics-blue-light);
}

.manchu {    
    writing-mode: vertical-lr;
}

.romanisation {
    font-style: italic;
}