.leftright {
    display: flex;
    flex-direction: column;
}

.leftinput {}

.rightinput {}

.romanisationinput, .manchuoutput {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    min-height: 200px;
    max-height: 200px;
}

.romanisationinput {
    font-size: 14px;
    padding: 14px;
    border: 1px solid var(--border-grey);
    border-radius: var(--border-radius);
    outline: none;
}

.romanisationinput:focus {
    border: 1px solid var(--physics-blue);
}

.manchuoutput {
    font-size: 27px;
    padding: 14px;
    writing-mode: vertical-lr;
    direction: ltr;
}

@media (min-width:700px) {
    .leftright {
        flex-direction: row;
    }

    .leftinput {
        flex-basis: 50%;
    }

    .rightinput {
        flex-basis: 50%;
    }

    .romanisationinput, .manchuoutput {
        min-height: 300px;
        max-height: 300px;
    }

    .romanisationinput {
        font-size: 22px;
        padding: 22px;
    }

    .manchuoutput {
        font-size: 44px;
        padding: 22px;
    }
}